USE [master]
GO
/****** Object:  Database [FormBuilder-rg]    Script Date: 09/03/2026 15:16:09 ******/
CREATE DATABASE [FormBuilder-rg]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FormBuilder-rg', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FormBuilder-rg.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FormBuilder-rg_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FormBuilder-rg_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FormBuilder-rg].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FormBuilder-rg]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09/03/2026 15:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlertConfigurations]    Script Date: 09/03/2026 15:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertConfigurations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EnableMissingFormAlerts] [bit] NOT NULL,
	[DailyCheckTime] [nvarchar](max) NOT NULL,
	[MissingFormRecipients] [nvarchar](max) NOT NULL,
	[EnableSignatureAlerts] [bit] NOT NULL,
	[SignatureAlertDelay] [int] NOT NULL,
	[SignatureRecipients] [nvarchar](max) NOT NULL,
	[SenderEmail] [nvarchar](max) NOT NULL,
	[SenderName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AlertConfigurations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alerts]    Script Date: 09/03/2026 15:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alerts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Priority] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[TargetEmail] [nvarchar](max) NOT NULL,
	[FormId] [int] NULL,
	[FormCode] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ReadDate] [datetime2](7) NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Alerts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatalogoFirmas]    Script Date: 09/03/2026 15:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatalogoFirmas](
	[CatalogoFirmaID] [int] IDENTITY(1,1) NOT NULL,
	[Puesto] [nvarchar](100) NOT NULL,
	[NombreCompleto] [nvarchar](200) NULL,
	[Area] [nvarchar](100) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[Correo] [nvarchar](150) NULL,
	[FirmaImageUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_CatalogoFirmas] PRIMARY KEY CLUSTERED 
(
	[CatalogoFirmaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilledForms]    Script Date: 09/03/2026 15:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilledForms](
	[FormID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateID] [int] NOT NULL,
	[HeaderData] [nvarchar](max) NULL,
	[FirmasData] [nvarchar](max) NULL,
	[Observaciones] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[BodyData] [nvarchar](max) NULL,
	[TemplateSnapshot] [nvarchar](max) NULL,
	[TemplateVersion] [nvarchar](20) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[FechaVersion] [datetime2](7) NULL,
	[FilledBy] [nvarchar](200) NULL,
	[FilledByEmail] [nvarchar](200) NULL,
	[FilledByRole] [nvarchar](100) NULL,
	[TipoProducto] [nvarchar](50) NULL,
 CONSTRAINT [PK_FilledForms] PRIMARY KEY CLUSTERED 
(
	[FormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormDrafts]    Script Date: 09/03/2026 15:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormDrafts](
	[DraftID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateID] [int] NOT NULL,
	[TemplateName] [nvarchar](300) NULL,
	[TemplateCodigo] [nvarchar](50) NULL,
	[UserName] [nvarchar](200) NULL,
	[UserEmail] [nvarchar](200) NULL,
	[UserRole] [nvarchar](100) NULL,
	[HeaderData] [nvarchar](max) NULL,
	[BodyData] [nvarchar](max) NULL,
	[FirmasData] [nvarchar](max) NULL,
	[TemplateSnapshot] [nvarchar](max) NULL,
	[Progress] [int] NOT NULL,
	[Nota] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_FormDrafts] PRIMARY KEY CLUSTERED 
(
	[DraftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SignatureRejections]    Script Date: 09/03/2026 15:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SignatureRejections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilledFormId] [int] NOT NULL,
	[RejectedBy] [nvarchar](max) NOT NULL,
	[RejectedDate] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](1000) NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SignatureRejections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Signatures]    Script Date: 09/03/2026 15:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Signatures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilledFormId] [int] NOT NULL,
	[SignatureImage] [nvarchar](max) NOT NULL,
	[SignedBy] [nvarchar](max) NOT NULL,
	[SignedDate] [datetime2](7) NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[IsModifiedBySGI] [bit] NOT NULL,
	[OriginalSignedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Signatures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SourceForms]    Script Date: 09/03/2026 15:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SourceForms](
	[SourceFormID] [int] IDENTITY(1,1) NOT NULL,
	[FormType] [nvarchar](200) NOT NULL,
	[RecordCode] [nvarchar](100) NULL,
	[RecordDate] [datetime2](7) NOT NULL,
	[DataJson] [nvarchar](max) NOT NULL,
	[Metadata] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_SourceForms] PRIMARY KEY CLUSTERED 
(
	[SourceFormID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Templates]    Script Date: 09/03/2026 15:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Templates](
	[TemplateID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Version] [nvarchar](20) NOT NULL,
	[Supervisa] [nvarchar](max) NULL,
	[Proceso] [nvarchar](max) NULL,
	[CuandoSeUsa] [nvarchar](max) NULL,
	[QuienLoLlena] [nvarchar](max) NULL,
	[HeaderFields] [nvarchar](max) NULL,
	[BodyElements] [nvarchar](max) NULL,
	[Firmas] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[FechaVersion] [datetime2](7) NULL,
	[Area] [nvarchar](100) NULL,
	[Frecuencia] [nvarchar](50) NULL,
	[IsDraft] [bit] NOT NULL,
	[IsMasterForm] [bit] NOT NULL,
	[UsaApi] [bit] NOT NULL,
	[IsObsolete] [bit] NOT NULL,
	[AutoSumColumns] [bit] NOT NULL,
 CONSTRAINT [PK_Templates] PRIMARY KEY CLUSTERED 
(
	[TemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TemplateVersions]    Script Date: 09/03/2026 15:16:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplateVersions](
	[VersionID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateID] [int] NOT NULL,
	[Version] [nvarchar](50) NOT NULL,
	[Codigo] [nvarchar](100) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Supervisa] [nvarchar](max) NULL,
	[Proceso] [nvarchar](max) NULL,
	[CuandoSeUsa] [nvarchar](max) NULL,
	[QuienLoLlena] [nvarchar](max) NULL,
	[HeaderFields] [nvarchar](max) NULL,
	[BodyElements] [nvarchar](max) NULL,
	[Firmas] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ChangeDescription] [nvarchar](500) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[FechaVersion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[VersionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251014044034_InitialCreate', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251015002759_AddFilledFormAndTableRowModels', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251101013028_UpdatedTemplateAndFormModels', N'9.0.9')
GO
SET IDENTITY_INSERT [dbo].[AlertConfigurations] ON 

INSERT [dbo].[AlertConfigurations] ([Id], [EnableMissingFormAlerts], [DailyCheckTime], [MissingFormRecipients], [EnableSignatureAlerts], [SignatureAlertDelay], [SignatureRecipients], [SenderEmail], [SenderName]) VALUES (1, 1, N'18:00', N'[]', 1, 24, N'[]', N'alertas@frigolab.com', N'Frigolab Alertas')
SET IDENTITY_INSERT [dbo].[AlertConfigurations] OFF
GO
SET IDENTITY_INSERT [dbo].[Alerts] ON 

INSERT [dbo].[Alerts] ([Id], [Type], [Priority], [Title], [Message], [TargetEmail], [FormId], [FormCode], [CreatedDate], [IsRead], [ReadDate], [Status]) VALUES (6, N'pending_signature', N'medium', N'Firma Pendiente: CONTROL DE FILETEO PARA CONGELACIÓN / CO', N'El formulario ''CONTROL DE FILETEO PARA CONGELACIÓN / CO'' del 03/03/2026 esta pendiente de firma', N'inspectorqa@frigolab.com.ec', 52, N'FOR-CC-20', CAST(N'2026-03-09T11:14:31.6010815' AS DateTime2), 0, NULL, N'failed')
INSERT [dbo].[Alerts] ([Id], [Type], [Priority], [Title], [Message], [TargetEmail], [FormId], [FormCode], [CreatedDate], [IsRead], [ReadDate], [Status]) VALUES (7, N'pending_signature', N'medium', N'Firma Pendiente: CONTROL DE FILETEO PARA CONGELACIÓN / CO', N'El formulario ''CONTROL DE FILETEO PARA CONGELACIÓN / CO'' del 03/03/2026 esta pendiente de firma', N'inspectorqa@frigolab.com.ec', 53, N'FOR-CC-20', CAST(N'2026-03-09T11:14:32.5603437' AS DateTime2), 0, NULL, N'failed')
INSERT [dbo].[Alerts] ([Id], [Type], [Priority], [Title], [Message], [TargetEmail], [FormId], [FormCode], [CreatedDate], [IsRead], [ReadDate], [Status]) VALUES (8, N'pending_signature', N'medium', N'Firma Pendiente: Control de sellos (producto congelado empacado al vacío)', N'El formulario ''Control de sellos (producto congelado empacado al vacío)'' del 03/03/2026 esta pendiente de firma', N'inspectorqa@frigolab.com.ec', 54, N'FOR-CC-10', CAST(N'2026-03-09T11:14:33.0819981' AS DateTime2), 0, NULL, N'failed')
SET IDENTITY_INSERT [dbo].[Alerts] OFF
GO
SET IDENTITY_INSERT [dbo].[CatalogoFirmas] ON 

INSERT [dbo].[CatalogoFirmas] ([CatalogoFirmaID], [Puesto], [NombreCompleto], [Area], [Activo], [FechaCreacion], [Correo], [FirmaImageUrl]) VALUES (1, N'supervisor ', N'juan adrian', N'produccion', 1, CAST(N'2026-02-23T13:26:39.1788992' AS DateTime2), N'jimunioc@gmail.com', NULL)
INSERT [dbo].[CatalogoFirmas] ([CatalogoFirmaID], [Puesto], [NombreCompleto], [Area], [Activo], [FechaCreacion], [Correo], [FirmaImageUrl]) VALUES (2, N'trabajador', N'Pedro Mendoza Intriago', NULL, 1, CAST(N'2026-02-26T15:07:32.2138165' AS DateTime2), N'inspectorqa@frigolab.com.ec', N'https://res.cloudinary.com/dpczd4ufe/image/upload/v1772136465/frigo-firmas-personales/firma_personal_pmendoza_1772136465073.jpg')
INSERT [dbo].[CatalogoFirmas] ([CatalogoFirmaID], [Puesto], [NombreCompleto], [Area], [Activo], [FechaCreacion], [Correo], [FirmaImageUrl]) VALUES (3, N'Supervisor', N'Prueba', N'Producción', 0, CAST(N'2026-02-27T14:32:10.0474246' AS DateTime2), N'supervisor@frigolab.com.ec', NULL)
SET IDENTITY_INSERT [dbo].[CatalogoFirmas] OFF
GO
SET IDENTITY_INSERT [dbo].[FilledForms] ON 

SET IDENTITY_INSERT [dbo].[FilledForms] OFF
GO
SET IDENTITY_INSERT [dbo].[FormDrafts] ON 

SET IDENTITY_INSERT [dbo].[FormDrafts] OFF
GO
SET IDENTITY_INSERT [dbo].[Templates] ON 

SET IDENTITY_INSERT [dbo].[Templates] OFF
GO
SET IDENTITY_INSERT [dbo].[TemplateVersions] ON 

GO
SET IDENTITY_INSERT [dbo].[TemplateVersions] OFF
GO
/****** Object:  Index [IX_Alerts_FormId]    Script Date: 09/03/2026 15:16:10 ******/
CREATE NONCLUSTERED INDEX [IX_Alerts_FormId] ON [dbo].[Alerts]
(
	[FormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FilledForms_TemplateID]    Script Date: 09/03/2026 15:16:10 ******/
CREATE NONCLUSTERED INDEX [IX_FilledForms_TemplateID] ON [dbo].[FilledForms]
(
	[TemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SignatureRejections_FilledFormId]    Script Date: 09/03/2026 15:16:10 ******/
CREATE NONCLUSTERED INDEX [IX_SignatureRejections_FilledFormId] ON [dbo].[SignatureRejections]
(
	[FilledFormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Signatures_FilledFormId]    Script Date: 09/03/2026 15:16:10 ******/
CREATE NONCLUSTERED INDEX [IX_Signatures_FilledFormId] ON [dbo].[Signatures]
(
	[FilledFormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Templates_Codigo]    Script Date: 09/03/2026 15:16:10 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Templates_Codigo] ON [dbo].[Templates]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TemplateVersions_CreatedAt]    Script Date: 09/03/2026 15:16:10 ******/
CREATE NONCLUSTERED INDEX [IX_TemplateVersions_CreatedAt] ON [dbo].[TemplateVersions]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TemplateVersions_TemplateID]    Script Date: 09/03/2026 15:16:10 ******/
CREATE NONCLUSTERED INDEX [IX_TemplateVersions_TemplateID] ON [dbo].[TemplateVersions]
(
	[TemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TemplateVersions_Version]    Script Date: 09/03/2026 15:16:10 ******/
CREATE NONCLUSTERED INDEX [IX_TemplateVersions_Version] ON [dbo].[TemplateVersions]
(
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Templates] ADD  CONSTRAINT [DF_Templates_IsDraft]  DEFAULT ((0)) FOR [IsDraft]
GO
ALTER TABLE [dbo].[Templates] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsMasterForm]
GO
ALTER TABLE [dbo].[Templates] ADD  DEFAULT (CONVERT([bit],(0))) FOR [UsaApi]
GO
ALTER TABLE [dbo].[Templates] ADD  CONSTRAINT [DF_Templates_IsObsolete]  DEFAULT ((0)) FOR [IsObsolete]
GO
ALTER TABLE [dbo].[Templates] ADD  CONSTRAINT [DF_Templates_AutoSumColumns]  DEFAULT ((0)) FOR [AutoSumColumns]
GO
ALTER TABLE [dbo].[TemplateVersions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Alerts]  WITH CHECK ADD  CONSTRAINT [FK_Alerts_FilledForms_FormId] FOREIGN KEY([FormId])
REFERENCES [dbo].[FilledForms] ([FormID])
GO
ALTER TABLE [dbo].[Alerts] CHECK CONSTRAINT [FK_Alerts_FilledForms_FormId]
GO
ALTER TABLE [dbo].[FilledForms]  WITH CHECK ADD  CONSTRAINT [FK_FilledForms_Templates_TemplateID] FOREIGN KEY([TemplateID])
REFERENCES [dbo].[Templates] ([TemplateID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FilledForms] CHECK CONSTRAINT [FK_FilledForms_Templates_TemplateID]
GO
ALTER TABLE [dbo].[SignatureRejections]  WITH CHECK ADD  CONSTRAINT [FK_SignatureRejections_FilledForms_FilledFormId] FOREIGN KEY([FilledFormId])
REFERENCES [dbo].[FilledForms] ([FormID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SignatureRejections] CHECK CONSTRAINT [FK_SignatureRejections_FilledForms_FilledFormId]
GO
ALTER TABLE [dbo].[Signatures]  WITH CHECK ADD  CONSTRAINT [FK_Signatures_FilledForms_FilledFormId] FOREIGN KEY([FilledFormId])
REFERENCES [dbo].[FilledForms] ([FormID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Signatures] CHECK CONSTRAINT [FK_Signatures_FilledForms_FilledFormId]
GO
ALTER TABLE [dbo].[TemplateVersions]  WITH CHECK ADD  CONSTRAINT [FK_TemplateVersions_Templates] FOREIGN KEY([TemplateID])
REFERENCES [dbo].[Templates] ([TemplateID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TemplateVersions] CHECK CONSTRAINT [FK_TemplateVersions_Templates]
GO
USE [master]
GO
